<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap-reboot.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Lista przepisow</title>
</head>
<body>
<h1>Moje przepisy</h1>
<a th:href="@{'/recipes/'+${recipe.id}}" th:each="recipe:${recipes}">
    <h3 th:text="${recipe.title}"></h3>
</a>

</body>
</html>