<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap-reboot.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Dodawanie przepisu</title>
</head>
<body>
<header>
    <div th:fragment="header2">
        <h1 th:text="|Nowy przepis|"></h1>
    </div>
</header>
<div class="form">
    <form method="post" th:action="@{/add}" th:object="${recipe}">
        Nazwa : <input type="text" name="name" th:field="*{title}"><br/>
        URL : <input type="text" name="url" th:field="*{url}"><br/>
        Opis : <textarea name="description" th:field="*{description}"></textarea><br/>
        Kategoria : <select name="category" th:field="*{category}">
        <option th:each="category:${categories}" th:value="${recipe.category}"
                th:text="${category.name.name}"></option>
    </select>
        <input type="submit" value="Dodaj">
    </form>
</div>

</body>
</html>